.main-content {
  display: flex;
  justify-content: center;
  margin-top: 10rem;
  position: relative;
}

.product {
  display: flex;
  max-width: 70rem;
  border: 1px solid var(--grey-light-color);
  border-radius: var(--border-3);
}

.image-container {
  width: 50%;
  position: relative;
}

.image-container img {
  width: 100%;
  height: 100%;
}

.fav {
  position: absolute;
  background-color: white;
  border-radius: var(--radius-full);
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 1rem;
  right: 2.5rem;
  cursor: pointer;
}
.fav > svg {
  width: 2.5rem;
}

.product-info {
  position: relative;
  width: 50%;
  padding: 1rem;
}

.actions {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.title {
  font-size: var(--body-1);
  font-weight: 900;
}

.description {
  font-size: var(--body-2);
  font-weight: 500;
  margin: 1rem 0;
}

.price {
  margin-top: 2rem;
  font-size: var(--body-1);
  font-weight: 600;
}

.prod-ratings {
  display: flex;
  align-items: center;
}

.prod-ratings span {
  font-size: var(--body-1);
}

.title-rating {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.back {
  position: absolute;
  left: 10%;
  top: -10%;
}
