.main-content {
  display: flex;
}

/* Product Listing */

.main-content main {
  padding: 5rem 2rem;
  flex: 1 0;
}

.filter-toggle {
  width: 3rem;
  margin: 2rem 0;
  display: none;
  cursor: pointer;
}

.prod-listing {
  display: grid;
  gap: 4rem;
  grid-template-columns: repeat(auto-fit, minmax(35rem, 45rem));
  place-content: center;
}

.count {
  font-size: var(--body-2);
  margin-bottom: 3rem;
}

.sidebar {
  transition: width 0.5s;
  width: 260px;
  height: calc(100vh - 50px);
  position: sticky;
  top: 50px;
  overflow-y: auto;
  background-color: var(--background-color);
  color: var(--primary-color);
  transition: all 1s;
}

@media (max-width: 1200px) {
  .filter-toggle {
    display: block;
  }
  .main-content main {
    padding: 0 2rem 5rem;
  }
  .prod-listing {
    width: 80%;
    margin: auto;
  }
  .count {
    text-align: center;
    margin-bottom: 4rem;
    margin-top: 3rem;
  }
  .sidebar {
    display: none;
    position: fixed;
    z-index: 30;
    left: -260px;
  }
}

.active {
  display: block;
  left: 0;
}
