.checkout-card {
  position: relative;
  border: 1px solid black;
  width: 100%;
  height: fit-content;
  padding: var(--spacing-16) var(--spacing-16) 0;

  border: 1px solid var(--background-color);
}

.checkout-card > * {
  margin-bottom: 1rem;
}

.checkout-card h1 {
  font-size: var(--body-1);
  font-weight: 900;
  margin-bottom: 2rem;
}

.checkout-item {
  display: flex;
  justify-content: space-between;
  font-size: var(--body-3);
  font-weight: 400;
}

.total-price {
  font-weight: 700;
}

.checkout-btn {
  width: 100%;
  border: none;
  background-color: var(--primary-color);
  color: white;
  padding: var(--spacing-16);
  cursor: pointer;
  border-radius: var(--radius-3);
  margin: 1rem 0;
}

.checkout-btn:hover {
  background-color: var(--secondary-color);
}

@media (max-width: 900px) {
  .checkout-btn {
    position: fixed;
    bottom: 0;
    left: 0;
    margin: 0;
    border-radius: 0;
  }
}
