.prod-ratings {
  display: flex;
  justify-content: center;
  align-items: center;
}

.prod-ratings span {
  font-size: var(--body-1);
}

.prod-ratings svg {
  width: 3rem;
}

.card {
  height: 72rem;
}

.fav-btn {
  border: none;
}
